@font-face{
    font-family: Josephine Sans;
    src: url("./fonts/JosefinSans-VariableFont_wght.ttf") format('truetype');
}

@font-face{
    font-family: Irish Grover;
    src: url("./fonts/IrishGrover-Regular.ttf") format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
